.manageCountryWrap {
  height: 60.1vh;
  width: 960px;
  margin: auto;
  background: #f2f2f2;
}
.manageCountryWrap h1 {
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 3em;
  color: #464545;
}
.manageCountryWrap p {
  font-size: 1.2em;
}
.placeCenter {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.manageCountryWrap button {
  padding: 7px;
  font-size: 1.2em;
  margin: 5px 0;
  background: #049704;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}
.manageCountryWrap button:hover {
  background: #04a704;
}
.manageCountryWrap a {
  text-decoration: none;
  color: #fff;
}

.manageCountryBTN {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  margin: auto;
}
.manageCountryEditBTN {
  margin-top: 5px;
}
.link {
  margin-top: 5px;
  margin-left: 15px;
}
.generalbutton  {
  padding: 5px 10px;
  font-size: 1em;
  background: #008000;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #fff;
}
.deletebutton{
  padding: 5px 10px;
  font-size: 1em;
  background: hsl(0, 100%, 25%);
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #fff;

}
.generalbutton a{
 
  color: #fff;
  text-decoration: none;
  
}
.listflexcontainer{
  display:flex;
  justify-content: flex;
}
 .listflex{
  flex-grow: 1;

}
.listwrapbtn a{
  margin-right: 20px;
}

