.loading {
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
  color: #fff;
  background: #000;
  padding: 5px;
}
.blogBgText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  color: #fff;
  font-size: 1.5em;
}
.allBlogsCont h1 {
  padding: 20px 0;
}
.allBlogsCont p {
  padding: 20px 0;
  font-size: 1.3em;
}
.allBlogsCont p a {
  text-decoration: none;
  color: orange;
  font-weight: 600;
}
.allBlogsCont p a:hover {
  text-decoration: underline;
}
.blogContWrap {
  text-align: left;
}
.blogPostTitle {
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.blogPostTitle p {
  margin-bottom: -5px;
  font-size: 1em;
  color: #696969;
  margin-left: 15px;
  align-items: center;
}
.blogPostTitle .editBlog,
.blogPostTitle .deteleBlog {
  margin-bottom: -7px;
  text-decoration: none;
  font-size: 1em;
  color: #696969;
  margin-left: 15px;
  align-items: center;
  transition: 0.4s;
}
.blogPostTitle .editBlog:hover {
  text-decoration: underline;
  cursor: pointer;
  color: orange;
}

.deteleBlog button {
  background: transparent;
  border: none;
  color: #696969;
  font-size: 0.9em;
  /* margin-bottom: -7px;
  text-decoration: none;
  color: #696969;
  margin-left: 15px;
  align-items: center;
  transition: 0.4s; */
}

.deteleBlog button:hover {
  text-decoration: underline;
  cursor: pointer;
  color: red;
}
.blogPostTitle a {
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
}
.author-date {
  display: flex;
  align-items: center;
  padding: 5px 0 20px;
  color: #696969;
}
.author-date img {
  border-radius: 50%;
}
.author-date h4 {
  margin: 0 10px;
}
.author-date h4:hover {
  text-decoration: underline;
}
.blogText {
  /* width: 90%; */
  margin-top: 10px;
}
.leftCont {
  width: 75%;
}
.blogIcons {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.peopleSays {
  background: #f3f2f2;
  /* margin-top: 10px; */
}
.peopleSays h2 {
  padding: 20px 0;
}
.peopleWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
  margin-right: 15px;
}
.peopleSays p {
  padding: 5px 5px 15px;
  text-align: left;
}
.peopleGrid {
  border: 1px solid #fff;
  margin: 20px;
  padding-top: 10px;
  width: 90%;
  height: fit-content;
}
.peopleGrid img {
  border-radius: 50%;
}
.peopleSays .authorName {
  font-weight: 600;
  color: #696969;
  text-align: center;
}

/* AsideBar */
.blogVideos h2 {
  padding: 20px 0;
}
.blogVideos video {
  margin: 5px 0;
}
.more-videos button {
  padding: 7px;
  margin-top: 10px;
  border: none;
  background: green;
  border-radius: 3px;
  color: #fff;
  font-size: 1em;
  /* transition: 1s; */
}
.more-videos button:hover {
  background: #05bb05;
  cursor: pointer;
}

.support {
  background: #fff;
  margin: 100px 0 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px 1px rgb(0, 0, 0, 0.5);
}
.support h3 {
  padding: 20px 0;
  color: #696969;
}
.line {
  border: 2px solid #008000;
  width: 20%;
  margin: auto;
}
.support p {
  padding: 20px 7px;
  font-size: 1em;
}
.support img {
  /* padding: 5px; */
}
.support button {
  padding: 7px;
  margin: 20px 0;
  border: none;
  background: #008000;
  border-radius: 3px;
  color: #fff;
  font-size: 1em;
  /* transition: 1s; */
}
.support button:hover {
  background: #05bb05;
  cursor: pointer;
}
.lock {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b1b1b1;
  border-radius: 0 0 5px 5px;
  color: #696969;
}

.subscribe {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background: #020202cc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px 1px rgb(0, 0, 0, 0.5);
}
.subscribe h3 {
  padding: 20px 0;
  color: #fff;
}
.subscribe p {
  padding: 0;
  font-size: 1em;
  color: #a8a8a8;
}
.subscribe h6 {
  text-align: left;
  color: #fff;
  font-size: 0.8em;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 5px;
}
.subscribe input {
  padding: 8px;
  font-size: 1em;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #696969;
}
.subscribe input:focus {
  outline: none;
  border: 1px solid #08b4f8;
}
.subscribe button {
  padding: 8px;
  font-size: 1em;
  background: #dc0707;
  color: #fff;
  border: 1px solid red;
  border-radius: 3px;
  margin-bottom: 20px;
}
.subscribe button:hover {
  background: red;
  cursor: pointer;
}
