/* .blogBg {
  background: #faf8f8;
} */
.blogWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.blogWrap h2 {
  margin: 20px 0;
  color: #696969;
}
.user-date {
  display: flex;
  margin-bottom: 20px;
}
.user-date h4 {
  margin-bottom: 10px;
}
.user-date input {
  display: flex;
  width: 275px;
  padding: 5px;
  font-size: 1.2em;
  border: 1px solid #696969;
  color: #696969;
  border-radius: 3px;
}
.dateInfo {
  text-align: right;
  padding-top: 3px;
  color: #696969;
}
.username {
  margin-right: 5px;
}
.user-date input:focus {
  outline: none;
  border: 1px solid #653c3c;
}
.blogTitle h4,
.imageWrap h4 {
  margin-bottom: 10px;
}
.blogTitle input,
.imageWrap input {
  width: 275px;
  padding: 5px;
  font-size: 1.2em;
  color: #696969;
  border-radius: 3px;
  border: 1px solid #696969;
}
.blogTitle input:focus {
  outline: none;
  border: 1px solid #653c3c;
  width: 550px;
}
.imageWrap input:focus {
  outline: none;
  border: 1px solid #653c3c;
  width: 550px;
}
.imageWrap {
  padding: 20px 0;
}
.imgUpload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 555px;
  height: 200px;
  border: 1px solid #696969;
  margin-top: 10px;
  border-radius: 3px;
}
.blogTextArea {
  margin-bottom: 10px;
  font-family: "roboto";
}
.blogTextArea h4 {
  padding-bottom: 10px;
}
.blogText h4 {
  padding-bottom: 10px;
}
.textArea:focus {
  outline: none;
  border: 1px solid #653c3c;
}
.textArea {
  border-radius: 5px;
  padding: 5px;
}
.createBtn button {
  padding: 5px 10px;
  font-size: 1em;
  background: #008000;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #fff;
}
.createBtn button:hover {
  background: #05bb05;
  cursor: pointer;
}
