.logoWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  color: #008000;
}
.logoWrap img {
  filter: brightness(200) invert(1);
}
.logoWrap h1 {
  font-size: 3em;
  color: #292929;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 15px;
  /* background: #008000; */
  border-top: 1px solid #292929;
  border-bottom: 1px solid #292929;
}
span {
  color: #ffa500;
}
header a {
  text-decoration: none;
  font-size: 1.4em;
  margin: 5px 15px;
  color: #696969;
}
header a:hover {
  font-weight: 600;
  border-top: 3px solid #292929;
  padding-top: 3.5%;
}
.active {
  font-weight: 600;
  border-top: 3px solid #292929;
  padding-top: 3.5%;
}
.navLinks {
  margin-bottom: 0px;
  align-items: center;
}
.dest {
  color: #008000;
  font-weight: 600;
}
.dest ul {
  display: none;
  position: absolute;
  /* right: 34%; */
  width: 150px;
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  align-items: center;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 5px;
  /* margin: 5px 15px; */
  z-index: 10;
  border-bottom: 1px solid #292929;
}
.dest:hover ul {
  display: block;
}
.navLinks ul li {
  list-style: none;
}
.navLinks ul li a {
  font-size: 0.7em;
  transition: 0.4s ease-in-out;
}
.navLinks ul li:hover a {
  color: #fff;
  border-top: none;
  padding-top: 0;
}
.navLinks ul li:hover {
  background: orange;
  border-top: 1px solid #292929;
}
