header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 10px;
  background: #008000;
  border-bottom: 2px solid #ffa500;
}
span {
  color: #ffa500;
}
header a {
  text-decoration: none;
  font-size: 1.4em;
  margin: 5px 15px;
  color: #ffa500;
}
header a:hover {
  font-weight: 600;
}
.navLinks {
  margin-bottom: -30px;
}
.navLinks ul {
  display: none;
  list-style: none;
  text-align: left;
}
.navLinks ul:hover {
  display: block;
}
.navLinks ul li a {
  font-size: 0.7em;
}
